h1{
    font-family: "American Typewriter",verdana;
    font-size: 45pt;
    margin: 50px 0 25px 0;
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 25px;
        margin-left: 0px;
    text-align: center;

}

body{
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
text-align: center;
}

html{ 
    background-color: rgb(181,232,232);
}

p{
    text-align: left;
    font-size: 16px;
    margin-left: 20%;
    font-family: 'verdana', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foto{
    float: left;
}