h1{
    font-family: "American Typewriter",verdana;
    font-size: 45pt;
    margin: 50px 0 25px 0;
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 25px;
        margin-left: 0px;
    text-align: center;

}



html{ 
    background-color: rgb(240,252,250);
}

p{
    font-size: 16px;
    margin-left: 20%;
    margin-bottom: 10px;
}

img{
    width: 50%;
    float: left
}